/*
Imagine a feature, just like reactions - but when someone reacts, it plays a goofy animation.

Now imagine, if we also made the animation play - even if you're not actively focused on Discord.

Also imagine, if that animation played every time someone added to that existing reaction.

Next, imagine, that _not even turning on Reduced Motion removed the animation_.

And finally, imagine, we charged you for the privilege.
*/

div[class*='reactionInner'] > div > div[class*='effectsWrapper'] {
	display: none !important;
}
div[class*='reactionInner'] > div > img[class*='hideEmoji'] {
	opacity: 1 !important;
}
div[class*='shakeReaction'] {
	animation: none !important;
}
