/*
obliterates the objective worst set of avatar decorations discord has ever added,
with quite possibly the worst names i've ever seen to boot
*/

/* Beamchop */
img[class^='avatarDecoration'][src*='e11ac0d3f2b1301173847b84a1a3268f'],
svg[class^='avatarDecoration']:has(foreignObject > div > img[src*='e11ac0d3f2b1301173847b84a1a3268f']) {
	display: none;
}

/* Stinkums */
img[class^='avatarDecoration'][src*='ea8e2e628bacdddb1ef18cb382aa454c'],
svg[class^='avatarDecoration']:has(foreignObject > div > img[src*='ea8e2e628bacdddb1ef18cb382aa454c']) {
	display: none;
}

/* Chuck */
img[class^='avatarDecoration'][src*='68b9ced89df522993b81a33f43490ef1'],
svg[class^='avatarDecoration']:has(foreignObject > div > img[src*='68b9ced89df522993b81a33f43490ef1']) {
	display: none;
}

/* Winkle */
img[class^='avatarDecoration'][src*='8b7ad8479ad8cc9996b508b75410e2f9'],
svg[class^='avatarDecoration']:has(foreignObject > div > img[src*='8b7ad8479ad8cc9996b508b75410e2f9']) {
	display: none;
}

/* Chewbert */
img[class^='avatarDecoration'][src*='129e3e818c8319e031d34d4194cf8ecd'],
svg[class^='avatarDecoration']:has(foreignObject > div > img[src*='129e3e818c8319e031d34d4194cf8ecd']) {
	display: none;
}

/* Doodlezard */
img[class^='avatarDecoration'][src*='48ca99fcfa4ecc11acdc323534a0ecbb'],
svg[class^='avatarDecoration']:has(foreignObject > div > img[src*='48ca99fcfa4ecc11acdc323534a0ecbb']) {
	display: none;
}

/* Glop */
img[class^='avatarDecoration'][src*='42f43a32539de2f3f30a348dc8a880e1'],
svg[class^='avatarDecoration']:has(foreignObject > div > img[src*='42f43a32539de2f3f30a348dc8a880e1']) {
	display: none;
}

/* Gawblehop */
img[class^='avatarDecoration'][src*='be797b0a0efafd45a9ee49aaedbde4d2'],
svg[class^='avatarDecoration']:has(foreignObject > div > img[src*='be797b0a0efafd45a9ee49aaedbde4d2']) {
	display: none;
}
